<h2 style="color: red;">All the Fancy Superpowers</h2>
<img src= "https://66.media.tumblr.com/aef3342aebf1160673d330ccb60946d4/tumblr_o7bdyfMgK71sgixyoo1_500.gif">
<ul>
  <% @powers.each do |power| %>
    <li>
      <%= link_to power.name, power_path(power) %>
      <br>
      Description: <%= power.description %>
    </li>
    <%= button_to ("Delete"), power_path(power), method: :delete %>
    <br>
  <% end %>
</ul>


<%= link_to "Create a New Power", new_power_path %><br>
<%= link_to "All Heroines", heroines_path %><br>
<%= link_to "Create a New Badass Heroine", new_heroine_path %><br>

