<h1> Super Power: <%= @power.name %> </h1>
<h2> <%= @power.description %> </h2>


<%= link_to "All Powers", powers_path %><br>
<%= link_to "All Heroines", heroines_path %><br>
<%= link_to "Edit this Power", edit_power_path(@power) %>