<h1>Heroes aren't Born, They are Made</h1>

<%= form_for @heroine do |f| %>
  Name : <%= f.text_field :name %><br />
  Super Hero Name : <%= f.text_field :super_name %><br />
  Power : <%= f.collection_select(:power_id, Power.all, :id, :name) %><br />
  <%= f.submit %>
<% end %>

<%=link_to("Back to Heroines", heroines_path) %>