
<%= form_for(@heroine) do |f| %>
<label> Name:</label>
  <%= f.text_field :name %><br />
  <br/>
    <label>Super Name:</label>
  <%= f.text_field :super_name %><br />
  <br/>
    <label>Whats your power?</label>
  <%= f.collection_select(:power_id, Power.all, :id, :name)%><br/>
  <br/>
  <br/>
  <%= f.submit "Save"%>
<% end %>

