<h1>Name: <%= @heroine.name %></h1>
<h2>Super Hero Name: <%= @heroine.super_name %></h2>
<h4>Power: <%=@heroine.power.name %></h4>
<%= link_to "All Heroines", heroines_path%>
<p><%= link_to "Create New Heroine", new_heroine_path%></p>